@model IEnumerable<CRUD.Application.ViewModels.ContatoViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center container">
    <h1>Consulta de Contatos</h1>
</div>


<div class="container col-md-10">
    <div class="form-group">
        <div class="row">
            <div >
                <a asp-action="Cadastrar" class="btn btn-success">Cadastrar</a>
            </div>
            
            <div class=" col-md-auto">
                <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquisar..." class="form-control"/>
            </div>

        </div>
    </div>
    <table class="table" id="tabelaPesquisa">
        <thead class="table-bordered table-striped table-dark thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("Nome")
                </th>
                <th>
                    @Html.DisplayName("Data de Nascimento")
                </th>
                <th>
                    @Html.DisplayName("Status")
                </th>
                <th>
                    @Html.DisplayName("Cargo")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          
        </tbody>
    </table>
</div>

@section Scripts{ 

    <script src="~/js/Contato.js"></script>


}
             